<div class="header-sticky">
   <div class="logo">
       <img class="image" src="./assets/tivi-park-image/logo-recuperado.png" alt="">
   </div> 
   <nav>
       <ul>
           <li>
               <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
           </li>
           <li>
               <a routerLink="/products" routerLinkActive="active">Servicios</a>
           </li>
           <li>
               <a routerLink="/menus" routerLinkActive="active">Menu Infantil</a>
           </li>
           <li>
               <a routerLink="/reservas" routerLinkActive="active">Reservas</a>
           </li>
           <li>
                <a routerLink="/contact" routerLinkActive="active">Contacto</a>
           </li>
       </ul>
   </nav>
     
</div>


