<div class="body">
    
    <div class="section">
       <div class="contenedor"> 
          <div class="banner">
              <!--<img class="img" src="./assets/tivi-entrada/tivipark.jpeg" alt="">-->
                <!--<div class="texto-encima">-->
                    <p>
                        <img class="banner-image" src="./assets/tivi-park-image/sololetras.png" alt=""><br>
                        Es un local familiar, celebraremos los cumpleaños de tus niños, donde podrán disfrutar de nuestros hinchables, y todas las zonas recreativas, 
                        mientras tú podrás estar en la terraza disfrutando de un buen café mientras ellos se divierten. <br>
                        <br> Tenemos un personal preparado para atenderlos 
                        y hacer de este día, un dia inolvidable. 
                        <br> Disfruta de una gran variedad de menús, podrás escoger el que mejor se amolde a ti y a tus invitados. <br>
            
                        <br>Tenemos espacio ideal para celebrar tus eventos más importantes: cumpleaños, fiestas infantiles, bautizos, baby-showers, y celebraciones familiares. <br>
                        <br> Tivipark es una sala privada de 150 m2 equipada y acondicionada con todo lo necesario para pasarlo en grande: zona de juego infantil con piscina de bolas,  
                        Con una capacidad de hasta 80 personas. <br>
                        <br> Buena y facil ubicacion, en uno de los enclaves mejor comunicados de Santomera, Tivipark te ofrece además servicios complementarios, un trato personalizado y 
                        soluciones para cualquier tipo de celebración que quieras compartir.
                    </p>
                <!--</div>-->
              </div>
          <div class="contenedor-images">

              <div class="card" style="background-image: url('./assets/tivi-entrada/tivipark.jpeg')">
                   <div class="texto">
                      <h3>ghdnykslau</h3>
                   </div>
              </div>

              <div class="card" style="background-image: url('./assets/decoracion/tividecoraciones3.jpeg')">
                <div class="texto">
                   <h3>ghdnykslau</h3>
                </div>
              </div> 

              <div class="card" style="background-image: url('./assets/decoracion/tividecoraciones4.jpeg')">
                <div class="texto">
                   <!--<h3>ghdnykslau</h3>-->
                </div>
              </div>

              <div class="card" style="background-image: url('./assets/decoracion/tividecoraciones.jpeg')">
                <div class="texto">
                   <!--<h3>ghdnykslau</h3>-->
                </div>
              </div>

              <div class="card" style="background-image: url('./assets/tivi-entrada/tivibarra-png.jpeg')">
                <div class="texto">
                   <!--<h3>ghdnykslau</h3>-->
                </div>
              </div>

              <div class="card" style="background-image: url('./assets/tivicomidas/tivicomidas2.jpeg')">
                <div class="texto">
                   <!--<h3>ghdnykslau</h3>-->>
                </div>
              </div>
          
          
          
          
          
          
          
          
          
            </div>
       </div>


    </div>
</div>
